{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "overrides": [
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "allow": "as-needed",  "extensions": [".jsx", ".tsx", ".js"] }],
        "react/react-in-jsx-scope": "off",
        "import/extensions": [0],
        "react/jsx-props-no-spreading": [1, {
            "html": "ignore",
            "custom": "enforce",
            "explicitSpread": "enforce"
        }]
    }
}
