
@mixin columnGenerator($name, $cols) {
    @for $i from 1 through $cols {
        &--#{$name}-#{$i} {
            max-width: calc(((1 / $cols) * $i) * 100%);
            flex: 0 1 ((1 / $cols) * $i) * 100%;
        }
    }
}


@mixin sizedColumnsGenerator() {
    @include columnGenerator('col', 12);
    @media screen and (min-width: 320px) {
        @include columnGenerator('xs', 4);
    }
    @media screen and (min-width: 600px) {
        &--sm {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
        @include columnGenerator('sm', 6);
    }
    @media screen and (min-width: 800px) {
        @include columnGenerator('md', 6);
    }
    @media screen and (min-width: 1024px) {
        @include columnGenerator('lg', 12);
    }
    @media screen and (min-width: 1288px) {
        @include columnGenerator('xl', 12);
    }
}

.column {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0 8px;
    display: flex;
    margin-bottom: 16px;
    @media screen and (min-width: 800px) {
        padding: 0 12px;
        margin-bottom: 24px;
    }
    @include sizedColumnsGenerator();

}